In [ ]:
# 3. Using iris data set, implement naive bayes classification for different naive Bayes classification
# algorithms.( (i) gaussian (ii) bernoulli etc)

#  Find out the accuracy level w.r.t to each  algorithm
#  Display the no:of mislabeled classification from test data set
#  List out the class labels of the mismatching records

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('iris.csv')
X = dataset.iloc[:,:4].values
y = dataset['variety'].values
dataset.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [10]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test) 
y_pred

array(['Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa',
       'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Versicolor',
       'Setosa'], dtype='<U10')

In [15]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print("Gaussian")

Gaussian

In [12]:
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9333333333333333

array([[ 9,  0,  0],
       [ 0, 12,  1],
       [ 0,  1,  7]])

In [14]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   Versicolor       Versicolor
1       Setosa           Setosa
2    Virginica        Virginica
3    Virginica        Virginica
4       Setosa           Setosa
5       Setosa           Setosa
6   Versicolor        Virginica
7   Versicolor       Versicolor
8   Versicolor       Versicolor
9   Versicolor       Versicolor
10   Virginica       Versicolor
11  Versicolor       Versicolor
12   Virginica        Virginica
13  Versicolor       Versicolor
14  Versicolor       Versicolor
15  Versicolor       Versicolor
16   Virginica        Virginica
17   Virginica        Virginica
18  Versicolor       Versicolor
19  Versicolor       Versicolor
20      Setosa           Setosa
21      Setosa           Setosa
22      Setosa           Setosa
23   Virginica        Virginica
24  Versicolor       Versicolor
25   Virginica        Virginica
26      Setosa           Setosa
27      Setosa           Setosa
28  Versicolor       Versicolor
29      Setosa           Setosa